@page "/Account/Manage/PersonalData"

@inject IdentityUserAccessor UserAccessor

<PageTitle>Personlig Data</PageTitle>

<StatusMessage />
<Section title="Personlig Data">

    <div class="row">
        <div class="col-md-6">
            <p>
                Ditt konto innehåller personlig data som du delat med oss. Denna sida låter dig ladda ner och radera dessa data enligt 
                <a href="https://gdprsummary.com/sv/" target="_blank">GDPR</a>.
            </p>
            <p>
                <strong>Radering av dessa data medför definitiv radering av ditt konto och detta kan inte återskapas.</strong>
            </p>
            <form action="Account/Manage/DownloadPersonalData" method="post">
                <AntiforgeryToken />
                <button class="w-100 btn btn-lg btn-primary" type="submit">Ladda ner</button>
            </form>
            <hr />
            <p>
                <a href="Account/Manage/DeletePersonalData" class="w-100 btn btn-lg btn-danger">Radera</a>
            </p>
        </div>
    </div>
</Section>

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        _ = await UserAccessor.GetRequiredUserAsync(HttpContext);
    }
}
