@using System.Security.Claims
@using Microsoft.AspNetCore.Identity
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject UserManager<ApplicationUser> UserManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IJSRuntime JS


<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable lms-section" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <AuthorizeView Roles="Student" Context="authContext">
            <NavItem Href="/" Icon="bi-speedometer2" Text="÷versikt" />
            <NavItem Href=@($"/courses/{CourseId}/modules") Icon="bi-list-ul" Text="Moduler" />
            <NavItem Href="/documents" Icon="bi-file-earmark-check" Text="Inl‰mningar" />
            <NavItem Href="/demoauth" Icon="bi-people" Text="Demo" />
            <NavItem Href="/settings" Icon="bi-gear" Text="Inst‰llningar" />
        </AuthorizeView>
        <AuthorizeView Roles="Teacher">
            <NavItem Href="/" Icon="bi-speedometer2" Text="÷versikt" />
            <NavItem Href="/courses" Icon="bi-journal-bookmark" Text="Alla kurser" />
            <NavItem Href="/assignments" Icon="bi-list-check" Text="Alla inl‰mningar" />
            <NavItem Href="/demoauth2" Icon="bi-calendar-event" Text="Demoauth2" />
            <NavItem Href="/user" Icon=" bi-people-fill" Text="Anv‰ndare" />
        </AuthorizeView>
    </nav>
</div>
@code {
    public int? CourseId { get; set; }
    public ApplicationUser? User { get; set; } = null!;
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var authUser = authState.User;
        var userId = authUser.FindFirstValue(ClaimTypes.NameIdentifier);
        User = await UserManager.FindByIdAsync(userId);
        CourseId = User.CourseId ?? 0;
    }
}