@inherits LayoutComponentBase
@inject NavigationManager NavigationManager


<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable lms-section" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <AuthorizeView Roles="Student">
            <NavItem Href="/" Icon="bi-speedometer2" Text="÷versikt" />
            <NavItem Href="/modules-student" Icon="bi-list-ul" Text="Moduler" />
            <NavItem Href="/modules/" Icon="bi-calendar-event" Text="Schema" />
        </AuthorizeView>
        <AuthorizeView Roles="Teacher">
            <NavItem Href="/" Icon="bi-speedometer2" Text="÷versikt" />
            <NavItem Href="/courses" Icon="bi-journal-bookmark" Text="Alla kurser" />
            <NavItem Href="/Account/UserManagement" Icon=" bi-people-fill" Text="Anv‰ndare" />
        </AuthorizeView>
    </nav>
</div>
