@page "/Account/AccessDenied"

<PageTitle>Åtkomst nekad</PageTitle>

<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <h1 class="display-1 fw-bold">403</h1>
        <p class="fs-3"> <span class="text-danger">Åh, nej!</span> Åtkomst nekad.</p>
        <p class="lead">
            Du har inte behörighet att visa denna sida.
        </p>
        <a href="/" class="btn btn-primary mt-3">Gå till startsidan</a>
    </div>
</div>