@page "/Account/ForgotPasswordConfirmation"

<PageTitle>Glömt lösenord bekräftelse</PageTitle>

<h1>Glömt lösenord bekräftelse</h1>
<p>
    Vänligen kontrollera din inkorg för att återställa ditt lösenord.
</p>
