@page "/Account/InvalidPasswordReset"

<PageTitle>Ogiltig återställning av lösenord</PageTitle>

<h1>Ogiltig återställning av lösenord</h1>
<p>
    Länken för återställning av lösenord är ogiltig.
</p>
