@page "/Account/Lockout"

<PageTitle>Utelåst</PageTitle>

<header>
    <h1 class="text-danger">Utelåst</h1>
    <p class="text-danger">Detta konto har låsts, vänligen försök igen senare.</p>
</header>
