.register-form {
    width: 95vw;
    height: 80vh;
    position: relative;
    -webkit-justify-content: inherit;
    justify-content: inherit;
    padding-top: 10vh;
}
.lms-register-form {
    max-width: 30rem;
}

.lms-section_register_body {
    padding-inline: 2rem;
}