@page "/Account/ResetPasswordConfirmation"
<PageTitle>Bekräftelse om återställning av lösenord</PageTitle>

<h1>Bekräftelse om återställning av lösenord</h1>
<p>
    Ditt lösenord har återställts. Vänligen <a href="Account/Login">klicka här för att logga in</a>.
</p>
