@using LMS.Blazor.Client.Models
@using Microsoft.AspNetCore.Authorization
@using System.ComponentModel.DataAnnotations
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))
@attribute [Authorize(Roles = "Teacher")]
@page "/courses/{courseId:int}/modules/create"

<h3>Skapa ny modul</h3>

<AuthorizeView Context="authContext" Roles="Teacher">
    <Authorized>
        <ModuleForm FormModel="@formModel" OnValidSubmit="@HandleValidSubmit"/>
    
        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <div class="alert alert-danger">@errorMessage</div>
        }
    </Authorized>
</AuthorizeView>

@code {
    [Inject]
    private IApiService _apiService { get; set; } = default!;

    private string? errorMessage;

    [Inject]
    private NavigationManager _navigationManager { get; set; } = default!;

    [Parameter]
    public int CourseId { get; set; }

    private ModuleFormModel formModel = new();
    

    private async Task HandleValidSubmit()
    {
    var module = new ModuleCreateDto
            {
                Name = formModel.Name,
                Description = formModel.Description,
                StartsAt = formModel.StartsAt,
                EndsAt = formModel.EndsAt
            };
    try
        {
             await _apiService.PostAsync($"api/courses/{CourseId}/module", module);

            _navigationManager.NavigateTo($"/courses/{CourseId}/modules");
        }
        catch(Exception ex)
        {
            errorMessage = ex.Message;
        }
    }
}
