@using LMS.Blazor.Client.Services
@using LMS.Blazor.Client.Shared.Components
@using LMS.Shared.DTOs.ModuleDtos
@using Microsoft.AspNetCore.Authorization

@page "/student/courses/{courseId:int}/modules"
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))
@attribute [Authorize(Roles ="Student")]

<PageTitle>Moduler</PageTitle>

<h1>Elev</h1>

    <AuthorizeView Context="authContext" Roles="Student">
        <Authorized>
            <Modules courseId=@courseId/>
        </Authorized>
    </AuthorizeView>


@code {
    [Parameter]
    public int courseId { get; set; }//temporary value for testing
}
