@rendermode InteractiveWebAssembly  //@(new InteractiveWebAssemblyRenderMode(prerender: false))
@using Domain.Models.Entities
@using LMS.Blazor.Client.Services
@using LMS.Shared.DTOs.CourseDtos

<div class="lms-section">
    @if (course == null)
    {
        <Spinner EntityName="din kurs" />
    }
    else
    {
    <div class="lms-section__header">
        <div class="lms-section__title">
                <h2>@course?.Name</h2> <span class="lms-section__sub lms-section__right">@FormatDateRange(course?.Starts, course?.Ends)</span>
            </div>
        </div>
        <div class="lms-section__body">
            <FaderBox text="@course?.Description" />
            <StudentList Title="Andra elever i din kurs" Students="@course?.Students" ExcludeSelf="true" />
        </div>
    }
</div>

@code {
    [Parameter] public int courseId { get; set; }
    [Inject] private IApiService apiService { get; set; } = default!;
    public CourseDto? course { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        //var user = authContext.
        course = await apiService.CallApiAsync<CourseDto>($"api/courses/{courseId}?includeUsers=Student");
    }

    private string FormatDateRange(DateTime? start, DateTime? end)
    {
        if (start == null && end == null)
            return "";

        if (end == null)
            return start.Value.ToString("d MMM, yyyy -");
        else if (start == null)
            return end.Value.ToString("- d MMM, yyyy");

        bool isSameStartAndEndYear = start.Value.Year == end.Value.Year;
        return start.Value.ToString("d MMM" + (isSameStartAndEndYear ? "" : ", YYYY")) + end.Value.ToString(" - d MMM, yyyy");
    }
}
