@using LMS.Shared.DTOs.UserDtos
<!--<li>-->
<a class="col-3 lms-tile" href="/Users?user=@Student.Id">
    <div>
        <span class="lms-tile__icon">
            <icon><img src="images/Person.png" alt="Person" /></icon>
        </span>
        <span class="lms-tile__label">
            @Student.FullName<br/>
            <a href="mailto:@Student.Email">@Student.Email</a>
        </span>
    </div>
</a>
<!--</li>-->

@code {
    [Parameter] public UserDto Student { get; set; } = default!;
}