@if (string.IsNullOrEmpty(Title) && (Students == null || !Students.Any()))
{
    <p>No students found.</p>
}
else
{
    <div class="student-list">
        @if (!string.IsNullOrEmpty(Title))
        {
            <div class="lms-section__sub">
                <h2>@Title</h2>
            </div>
        }
        @if (Students != null && Students.Any())
        {
            <div class="row">
                <div class="expand">
                    @foreach (var student in VisibleStudents!)
                    {
                        <StudentCard Student="student" />
                    }
                    @if (FilteredStudents?.Count() > 3)
                    {
                        <button class="btn btn-link" @onclick="ToggleExpanded">
                            @(IsExpanded ? "< Visa mindre" : $"Visa alla ({FilteredStudents.Count()}) >")
                        </button>
                    }
                </div>
            </div>
        }
        else
        {
            <p>No students enrolled.</p>
        }
    </div>
}


@code {
    [Inject] private AuthenticationStateProvider AuthenticationStateProvider { get; set; } = default!;
    [Parameter] public string? Title { get; set; }
    [Parameter] public bool? ExcludeSelf { get; set; } = false;
    [Parameter] public IEnumerable<UserDto>? Students { get; set; }
    private bool IsExpanded = false;

    private IEnumerable<UserDto> VisibleStudents =>
        IsExpanded ? FilteredStudents! : FilteredStudents!.Take(3);

    private void ToggleExpanded()
    {
        IsExpanded = !IsExpanded;
    }

    private IEnumerable<UserDto>? FilteredStudents
    {
        get
        {
            IEnumerable<UserDto>? courseStudents = null;
            if (ExcludeSelf == true && Students != null)
            {
                var currentUserEmail = AuthenticationStateProvider.GetAuthenticationStateAsync().Result.User.Identity?.Name;
                courseStudents =  Students.Where(s => s.Email != currentUserEmail);
            }
            return courseStudents;
        }
    }
}