@using LMS.Shared.DTOs.UserDtos
<!--<li>-->
    <div class="col lms-tile">
        <span class="lms-tile__icon">
            <icon><i class="bs bs-icon"></i></icon>
        </span>
        <span class="lms-tile__label">
            @Student.UserName<br/>
            <a href="mailto:@Student.Email">@Student.Email</a>
        </span>
    </div>
<!--</li>-->

@code {
    [Parameter] public UserDto Student { get; set; } = default!;
}