@page "/Error"
@using System.Diagnostics

<PageTitle>Fel</PageTitle>

<h1 class="text-danger">Fel.</h1>
<h2 class="text-danger">Ett fel uppstod medan ditt anrop hanterades.</h2>

@if (ShowRequestId)
{
    <p>
        <strong>Begärans ID:</strong> <code>@RequestId</code>
    </p>
}

<h3>Utvecklarläge</h3>
<p>
    Genom att byta till <strong>Utvecklarläge</strong> kommer mer detaljerad information om det fel som uppstod att visas.
</p>
<p>
    <strong>Utvecklarläget bör inte vara aktiverat för distribuerade applikationer.</strong>
    Det kan leda till att känslig information från undantag visas för slutanvändare.
    För lokal felsökning, aktivera <strong>Utvecklarläge</strong> genom att ställa in miljövariabeln <strong>ASPNETCORE_ENVIRONMENT</strong> till <strong>Development</strong>
    och starta om appen.
</p>

@code{
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    private string? RequestId { get; set; }
    private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);

    protected override void OnInitialized() =>
        RequestId = System.Diagnostics.Activity.Current?.Id ?? HttpContext?.TraceIdentifier;
}
